@model WebStore.Models.People;

@{
    ViewData["Title"] = "Index";
}


<div>
    <form asp-area="" asp-controller="AccessSystem" asp-action="AccessSystem">
        <h1>Acessar o sistema:</h1>

        <div class="form-row m-12">
            <div class="form-group col-md-12">
                <label asp-for="User" class="col-md-6">
                    <input class="form-control col-md-12" type="text" placeholder="Login:" asp-for="User">
                </label>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Password" class="col-md-6">
                    <input class="form-control" type="password" placeholder="Senha:" asp-for="Password">
                </label>
            </div>
            <div class="form-group col-md-12">
                <div class="form-group col-md-12">
                    <input type="submit" value="Ok" class="btn btn-default" style="width:130px" />
                    <a class="btn btn-primary" asp-area="" asp-controller="People" asp-action="Create" style="width:130px; margin-left:50px">Novo Usuário</a>
                </div>
            </div>
        </div>
    </form>
</div>